<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title || 'Cố Tinh Đạo Tông' %>
    </title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <script src="/js/theme-init.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700;900&family=EB+Garamond:wght@400;500;600;700&family=Crimson+Text:wght@400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <%- include('partials/authStyles') %>
</head>

<body>
    <%- include('partials/header') %>

        <%- include('partials/authForm') %>

            <%- include('partials/footer') %>
</body>

</html>