<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <script src="/js/theme-init.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <%- include('partials/authStyles') %>
</head>

<body>
    <%- include('partials/header') %>

        <%- include('partials/authForm') %>

            <%- include('partials/footer') %>
</body>

</html>